.Bank {
  font-family: BankFont;
}

.BankHeader {
  height: 30px;
  width: 100%;
  display: flex;
  background-color: #77bdfd;
}

.BankButtonSelected, .BankButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 140px;
  border-right: 1px solid #5d90fd;
  transition: all 0.15s;
}

.BankButtonSelected {
  background-color: #9fd6ff;
}

.BankButton:hover {
  background-color: #9fd6ff;
}

.BankContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  font-family: sans-serif;
}

.BankListItem, .BankListItemFirst {
  width: calc(100% - 28px);
  margin: 0 8px;
  padding: 3px 6px;
  border-bottom: solid 1px #ddd;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.BankListItemFirst {
  font-weight: bold;
}

.BankListItem > span, .BankListItemFirst > span {
  min-width: 0;
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.BankPaymentShowing {
  font-size: 12px;
  text-align: right;
  width: calc(100% - 8px);
  margin-top: 4px;
  color: #444;
  font-style: italic;
}

.BankBuyButton {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #77bdfd;
  padding: 1px 2px;
  cursor: pointer;
}

.BankBuyButton:hover {
  background-color: #7cc0f2;
}

.BankBuyButton:active {
  background-color: #60a6e7;
}

.BankModalBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

.BankModalContainer {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  width: 400px;
  background-color: white;
  border-radius: 2px;
  height: 150px;
  font-family: sans-serif;
  padding: 4px;
}

.BankModal {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.BankModalText {
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.BankModalBuyButton {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 2px;
  background-color: #ddd;
  padding: 4px 12px;
  cursor: pointer;
  user-select: none;
}

.BankModalBuyButton:hover {
  background-color: #e2e2e2;
}

.BankModalBuyButton:active {
  background-color: #cfcfcf;
}

.BankUserSelect {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  width: calc(100% - 420px)
}

.BankUserSelect > input {
  margin: 0 6px;
}
