.BankSectionContainer {
  width: 100%;
  max-width: 800px;
  background-color: #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.BankSectionTitle {
  width: calc(100% - 8px);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4px;
  font-size: 18px;
}
