.App {
  text-align: center;
  user-select: none;
}

.Score {
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 50px;
  text-shadow: 0 0 5px #000000, 0 0 5px #000000;
}

.Currency {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.CurrencyText {
  margin-bottom: 10px;
  font-size: 15px;
}

.CurrencyValue {
  text-align: right;
}
