.tabButtons {
  color: rgba(0, 0, 0, 0.5);
  background-color: #604c3a;
}

.tabButtons > span {
  padding: 5px;
}

.active {
  color: black;
  background-color: #a28263;
}

.FriendsModalButton {
  display: flex;
  width: calc(100% - 16px * 2);
  height: 20px;
  background-color: #b99e7f;
  margin: 16px;
  justify-content: center;
  align-items: center;
}